nav{
    background-color: transparent;
    z-index: 9999;
    min-width: 100%;
}

.outer{
    min-height:100%;
    display:flex;
}

.inner{margin: auto;}

.icon{
    color: #000;
    font-size: 20px;
    cursor: pointer;
}
